{% extends "GitonomyWebsiteBundle::layout_profile.html.twig" %}

{% trans_default_domain 'profile_password' %}

{% block title 'page.title'|trans %}

{% set local_navigation = 'password' %}

{% block profile_content %}
    <div id="content">
        <form action="{{ path('profile_password') }}" method="POST" class="form-horizontal">
        <legend>{{ 'form.legend'|trans }}</legend>
            {{ form_errors(form) }}
            {{ form_row(form.old_password) }}
            {{ form_row(form.password) }}
            {{ form_rest(form) }}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit"><i class="symbol">save</i> {{ 'form.information.submit'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
