{% extends "GitonomyWebsiteBundle::layout_profile.html.twig" %}

{% block title 'Change your password' %}

{% set local_navigation = 'password' %}

{% block profile_content %}
    <div id="content">
        <form action="{{ path('profile_password') }}" method="POST">
        <legend>Do you want to reset your password?</legend>
            {{ form_errors(form) }}
            {{ form_row(form.old_password) }}
            {{ form_row(form.password) }}
            {{ form_rest(form) }}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit"><i class="symbol">save</i> {{ 'form.informations.submit'|trans }}</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
