{% extends "GitonomyWebsiteBundle::base.html.twig" %}


{% block body %}
    {% include "GitonomyWebsiteBundle::flash.html.twig" %}
    {% block content '' %}
    <div id="global-menu-container">
        <ul id="global-menu">
            <li>
                <a href="#" onClick="$('#global-menu').toggleClass('active'); return false;">
                    <div class="icon"><img src="{{ gravatar(app.user.defaultEmail.email, 50) }}" /></div>
                    <div class="text">{{ app.user.fullname }}</div>
                </a>
            </li>
            <li>
                <a href="{{ path('project_list') }}"{% if global_navigation|default(null) == "projects" %} class="active"{% endif %}>
                    <div class="icon"><i class="symbol">list</i></div>
                    <div class="text">My projects</div>
                </a>
            </li>
            {% if is_granted('ROLE_PROJECT_CREATE') %}
                <li>
                    <a href="{{ path('project_create') }}"{% if global_navigation|default(null) == "new_project" %} class="active"{% endif %}>
                        <div class="icon"><i class="symbol">add</i></div>
                        <div class="text">New project</div>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('administration_users') }}"{% if global_navigation|default(null) == "administration" %} class="active"{% endif %}>
                    <div class="icon"><i class="symbol">setting</i></div>
                    <div class="text">Administration</div>
                </a>
            </li>
            <li>
                <a href="{{ path('profile_informations') }}"{% if global_navigation|default(null) == "profile" %} class="active"{% endif %}>
                    <div class="icon"><i class="symbol">you</i></div>
                    <div class="text">Profile</div>
                </a>
            </li>
            <li>
                <a href="{{ path('splash_logout') }}">
                    <div class="icon"><i class="symbol">off</i></div>
                    <div class="text">Logout</div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}

{% block before_body_end %}
    <script type="text/javascript">
        var resize_margin = 2 * $("h1").height();
        function resize()
        {
            var height = document.height - resize_margin;
            height = Math.max(300, height)
            $("#content").height(height);
        }
        $(window).resize(resize);
        resize();
    </script>
    {% block javascript_content '' %}
{% endblock %}
