{% extends "GitonomyWebsiteBundle::base.html.twig" %}


{% block body %}
    {% block content '' %}
    <div id="global-menu-container">
        <ul id="global-menu">
            <li>
                <a href="#" onClick="$('#global-menu').toggleClass('active'); return false;">
                    <div class="icon"><img src="{{ app.user.avatar }}" /></div>
                    <div class="text">{{ app.user.fullname }}</div>
                </a>
            </li>
            <li>
                <a href="{{ path('project_list') }}"{% if global_navigation|default(null) == "projects" %} class="active"{% endif %}>
                    <div class="icon"><i class="symbol">list</i></div>
                    <div class="text">My projects</div>
                </a>
            </li>
            {% if is_granted('ROLE_PROJECT_CREATE') %}
                <li>
                    <a href="{{ path('project_create') }}"{% if global_navigation|default(null) == "new_project" %} class="active"{% endif %}>
                        <div class="icon"><i class="symbol">add</i></div>
                        <div class="text">New project</div>
                    </a>
                </li>
            {% endif %}
            <li>
                <a href="{{ path('administration_dashboard') }}"{% if global_navigation|default(null) == "administration" %} class="active"{% endif %}>
                    <div class="icon"><i class="symbol">setting</i></div>
                    <div class="text">Administration</div>
                </a>
            </li>
            <li>
                <a href="{{ path('preferences_informations') }}"{% if global_navigation|default(null) == "preferences" %} class="active"{% endif %}>
                    <div class="icon"><i class="symbol">you</i></div>
                    <div class="text">Preferences</div>
                </a>
            </li>
            <li>
                <a href="{{ path('splash_logout') }}">
                    <div class="icon"><i class="symbol">off</i></div>
                    <div class="text">Disconnect</div>
                </a>
            </li>
        </ul>
    </div>
{% endblock %}
