{% extends "GitonomyWebsiteBundle::layout.html.twig" %}

{% trans_default_domain 'administration_navigation' %}

{% set global_navigation = 'administration' %}

{% block content %}
    <h1 class="with-menu">
        {{ 'title'|trans }}
    </h1>

    <div id="wrapper">
        <ul id="local-menu">
            <li><a href="{{ path('administration_config') }}"{% if local_navigation == 'config' %} class="active"{% endif %}>{{ 'menu.config'|trans }}</a></li>
            <li><a href="{{ path('administration_version') }}"{% if local_navigation == 'version' %} class="active"{% endif %}>{{ 'menu.version'|trans }}</a></li>
            <li><a href="{{ path('administration_users') }}"{% if local_navigation == 'users' %} class="active"{% endif %}>{{ 'menu.users'|trans }}</a></li>
            <li><a href="{{ path('administration_roles') }}"{% if local_navigation == 'roles' %} class="active"{% endif %}>{{ 'menu.roles'|trans }}</a></li>
        </ul>

        <div id="content" class="with-menu">
            {% block administration_content '' %}
        </div>
    </div>
{% endblock %}
