{% extends "GitonomyWebsiteBundle::layout_administration.html.twig" %}

{% set local_navigation = 'users' %}

{% block administration_content %}
    <h1>Create a new user</h1>
    <div id="content">
        <form method="POST" action"{{ path('administration_createUser') }}" class="form-horizontal" novalidate>
            {{ form_rest(form) }}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit"><i class="symbol">plus</i> {{ 'form.submit'|trans }}</button>
                    <a class="btn" href="{{ path('administration_users') }}">{{ 'form.cancel'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
