{% extends "GitonomyWebsiteBundle::layout_administration.html.twig" %}

{% set local_navigation = 'roles' %}

{% block administration_content %}
    <div id="content">
        <form method="POST" action"{{ path('administration_createRole') }}" class="form-horizontal">
            <legend>Create a new role</legend>
            {{ form_rest(form) }}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit"><i class="symbol">plus</i> {{ 'form.submit'|trans }}</button>
                    <a class="btn" href="{{ path('administration_roles') }}">{{ 'form.cancel'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
