{% extends "GitonomyWebsiteBundle::layout_administration.html.twig" %}

{% trans_default_domain 'administration_role' %}

{% block title 'page.title.edit'|trans({'%name%': role.name}) %}

{% set local_navigation = 'roles' %}

{% block administration_content %}
    <div id="content">
        <form method="POST" action"{{ path('administration_editRole', {id: role.id}) }}" class="form-horizontal" novalidate>
            <legend>{{ 'form.legend.edit'|trans({'%name%': role.name}) }}</legend>
            {{ form_rest(form) }}
            <div class="control-group">
                <div class="controls">
                    <button class="btn btn-success" type="submit"><i class="symbol">plus</i> {{ 'button.edit'|trans }}</button>
                    <a class="btn" href="{{ path('administration_roles') }}">{{ 'button.cancel'|trans }}</a>
                </div>
            </div>
        </form>
    </div>
{% endblock %}
