{% extends "GitonomyWebsiteBundle::layout_administration.html.twig" %}

{% trans_default_domain 'administration_user' %}

{% block title 'page.title.main'|trans %}

{% set local_navigation = 'users' %}

{% block administration_content %}
    <div class="actionbar">
        <div class="pull-right">
            <a href="{{ path('administration_createUser') }}" class="menu"><i class="symbol">add</i> {{ 'action.create'|trans }}</a>
        </div>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>{{ 'table.list.column.fullname'|trans }}</th>
                <th>{{ 'table.list.column.username'|trans }}</th>
                <th>{{ 'table.list.column.email'|trans }}</th>
                <th>{{ 'table.list.column.culture'|trans }}</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
                <tr>
                    <td>{{ user.fullname }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.hasDefaultEmail ? user.defaultEmail.email : '' }}</td>
                    <td>{{ user.timezone }}</td>
                    <td>
                        <div class="btn-group pull-right">
                            <a rel="tooltip" title="{{ 'tooltip.edit'|trans }}" class="btn btn-small" href="{{ path('administration_editUser', {username: user.username}) }}"><i class="icon-edit"></i></a>
                            {% if not app.user is sameas(user) %}
                                <a rel="tooltip" data-placement="left" title="{{ 'tooltip.delete'|trans({'%fullname%': user.fullname}) }}" class="btn btn-small btn-danger" data-method="POST" data-confirm="{{ 'button.confirm.delete'|trans({'%fullname%': user.fullname}) }}" href="{{ path('administration_deleteUser', {username: user.username}) }}"><i class="icon-fire icon-white"></i></a>
                            {% endif %}
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
