<ul class="tabs">
    <li class="dropdown" data-dropdown="dropdown">
        <a href="#" class="dropdown-toggle">Tags/Branches</a>
        <ul class="dropdown-menu">
            {% for branch in repository.references.branches %}
                <li>
                    <a href="{{ path('gitonomyfrontend_project_show', {slug: project.slug, reference: branch.name }) }}">
                        {{ branch.name }}
                    </a>
                </li>
            {% else %}
                <li><em>No branch</em></li>
            {% endfor %}
            <li class="divider"></li>
            {% for tag in repository.references.tags %}
                <li>
                    <a href="{{ path('gitonomyfrontend_project_show', {slug: project.slug, reference: tag.name }) }}">
                        {{ tag.name }}
                    </a>
                </li>
            {% else %}
                <li><a>No tag</a></li>
            {% endfor %}
        </ul>
    </li>
    <li{% if active == "project" %} class="active"{% endif %}>
        <a href="{{ path('gitonomyfrontend_project_show', {slug: project.slug, reference: reference }) }}">
            Overview
        </a>
    </li>
    <li{% if active == "history" %} class="active"{% endif %}>
        <a href="{{ path('gitonomyfrontend_project_history', {slug: project.slug, reference: reference }) }}">
            History
        </a>
    </li>
    <li{% if active == "commits" %} class="active"{% endif %}>
        <a href="{{ path('gitonomyfrontend_project_showLastCommits', {slug: project.slug, reference: reference}) }}">
            Last commits
        </a>
    </li>
    <li{% if active == "source" %} class="active"{% endif %}>
        <a href="{{ path('gitonomyfrontend_project_showTree', {slug: project.slug, reference: reference}) }}">
            Source
        </a>
    </li>
</ul>
