<table class="commit-list">
    <tbody>
        {% for commit in commits %}
            <tr>
                <td class="message">
                    <a title="{{ commit.message }}" href="{{ path('gitonomyfrontend_project_showCommit', {'slug': project.slug, 'hash': commit.hash }) }}">
                        {{ commit.shortMessage }}
                    </a>
                </td>
                <td class="author">
                    {{ commit.authorName }}
                    <img class="avatar" src="{{ gravatar(commit.authorEmail, 16) }}" alt="{{ commit.authorName }}" title="{{ commit.authorName }}" />
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
