{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name %}

{% block content_javascript %}
    <script>
        $(document).ready(function (){
            (new BranchRenderer()).render({{ matrix.json|json_encode|raw }});
        });
    </script>
{% endblock %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }}</h1>
    </div>
    {% render "GitonomyFrontendBundle:Project:blockNavigation" with {slug: project.slug, active: 'history', reference: reference } %}
    <div class="page-header">
        <h2>History</h2>
    </div>
    <table>
        <tr>
            <td width="150" style="padding: 0"><canvas id="graph" width="150" style="padding-top: 8px;" height="{{ matrix.cells|length * 18 }}" /></td>
            <td style="padding: 0">
                <div id="changesets-inner">
                    {% set i = 0 %}
                    {% for commit in commits %}
                        {% set i = i + 1 %}
                        <div id="chg_{{ i - 1 }}">{{ commit.hash }}: {{ commit.shortMessage }}</div>
                    {% endfor %}
                </div>
            </td>
        </tr>
    </table>
{% endblock %}
