{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name %}

{% block content %}
    {% include "GitonomyFrontendBundle:Project:_navigation.html.twig" with {active: 'project'} %}
    <div class="row">
        <div class="span6">
            <section>
                <h2>Branches</h2>
            <ul class="branch-list">
                <li class="active">
                    {% set active = repository.references.getBranch(reference) %}
                    <p>
                        <span class="name">{{ active.name }}</span>
                        <span class="last-modification">{{ active.lastModification | date_long }}</span>
                </li>
                {% for row in branches_activity %}
                    <li>
                        <p>
                            <span class="name"><a href="{{ path('gitonomyfrontend_project_show', {slug: project.slug, reference: row.branch.name}) }}">{{ row.branch.name }}</a></span>
                            <span class="behind">-{{ row.behind }}</span>
                            <span class="above">+{{row.above}}</span>
                            <span class="last-modification">{{ row.branch.lastModification | date_long }}</span>
                        </p>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="span6">
            <section>
                <h2>{{ reference }} <small>last activities</small></h2>
                <div>
                    {% render "GitonomyFrontendBundle:Project:_showFeed" with { 'slug': project.slug, 'reference': reference|default(null) } %}
                </div>
            </section>
        </div>
{% endblock %}
