{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }}</h1>
    </div>
    {% render "GitonomyFrontendBundle:Project:blockNavigation" with {'slug': project.slug, 'active': 'project' } %}
    <div class="row">
        <div class="span6">
            <div class="page-header">
                <h2>SSH Access</h2>
                <pre>{{ project_ssh(project) }}</pre>
            </div>
            <div class="page-header">
                <h2>Users on the project</h2>
            </div>
            {% for userRole in project.userRoles %}
                <h3><a href="#">{{ userRole.user.fullname }}</a> <small>{{ userRole.role.name }}</small></h3>
            {% else %}
                <h3><small>No user associated to the project</small></h3>
            {% endfor %}
            <div class="page-header">
                <h2>Branches</h2>
            </div>
            {% render "GitonomyFrontendBundle:Project:blockBranchesActivity" with {'slug': project.slug} %}
        </div>
        <div class="span10">
            <div class="page-header">
                <h2>Last commits on branch {{ project.mainBranch }}</h2>
            </div>
            {% render "GitonomyFrontendBundle:Project:blockCommitHistory" with {'slug': project.slug, 'limit': 2 } %}
        </div>
{% endblock %}
