{% extends "GitonomyFrontendBundle:Project:layout.html.twig" %}
{% set active = "commits" %}

{% block title project.name ~ ' - Last commits' %}

{% block right %}
    <h2>Last commits on {{ reference }}</h2>
    {% set commits = pager.iterator %}
    {% if pager.pageCount > 1 %}
        <div class="pagination">
            <ul>
                <li{% if pager.isFirstPage %} class="disabled"{% endif %}>
                    <a title="Previous page of commits" href="?page=1">«</a>
                </li>
                {% set lastPage = pager.lastPage %}
                {% for curPage in 1..pager.pageCount if (curPage - page)|abs < 8 %}
                    <li{% if curPage == page %} class="active"{% endif %}><a title="Go to page of commits number {{ curPage }}" href="?page={{ curPage }}">{{ curPage }}</a></li>
                {% endfor %}
                <li{% if pager.isLastPage %} class="disabled"{% endif %}>
                    <a href="?page={{ pager.pageCount }}">»</a>
                </li>
            </ul>
        </div>
    {% endif %}
    <table class="table table-condensed commit-list">
        <tbody>
            {% for commit in commits %}
                <tr>
                    <td class="message">
                        <a title="{{ commit.message }}" href="{{ path('gitonomyfrontend_project_showCommit', {'slug': project.slug, 'hash': commit.hash }) }}">
                            {{ commit.shortMessage }}
                        </a>
                    </td>
                    <td class="author">
                        {{ commit.authorName }}
                        <img class="avatar" src="{{ gravatar(commit.authorEmail, 16) }}" alt="{{ commit.authorName }}" title="{{ commit.authorName }}" />
                    </td>
                </tr>
            {% else %}
                <tr><td>No commit to see here...</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
