{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name ~ ' - Source' ~ (path ? ' - ' ~ path ~ '/' : '') %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }}</h1>
    </div>
    {% include "GitonomyFrontendBundle:Project:_navigation.html.twig" with {active: 'source'} %}
    <div class="page-header">
        <h2>Source</h2>
    </div>
    <table>
        <thead>
            <tr>
                <th width="100">Mode</th>
                <th>Filename</th>
                <th>Date</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% for name, data in tree.entries if data[1] is git_tree %}
                {% set lastModificationCommit = commit.lastModification(path~'/'~name, commit) %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td>
                        <a href="{{ path('gitonomyfrontend_project_showTree', {slug: project.slug, reference: reference, path: (path == "" ? name : path ~ '/' ~ name)}) }}">
                            {{ name }}
                        </a>/
                    </td>
                    <td>{{ lastModificationCommit.getCommitterDate|date_relative }}</td>
                    <td>
                        <a href="{{ path('gitonomyfrontend_project_showCommit', {slug: project.slug, reference: reference, hash: lastModificationCommit.hash }) }}">
                            {{ lastModificationCommit.shortMessage }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% for name, data in tree.entries if data[1] is not git_tree %}
                {% set lastModificationCommit = commit.lastModification(path~'/' ~name) %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td>
                        <a href="{{ path('gitonomyfrontend_project_showTree', {slug: project.slug, reference: reference, path: (path == "" ? name : path ~ '/' ~ name)}) }}">
                            {{ name }}
                        </a>
                    </td>
                    <td>{{ lastModificationCommit.getCommitterDate|date_relative }}</td>
                    <td>
                        <a href="{{ path('gitonomyfrontend_project_showCommit', {slug: project.slug, reference: reference, hash: lastModificationCommit.hash }) }}">
                            {{ lastModificationCommit.shortMessage }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
