{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title project.name ~ ' - Thread ' ~ thread.reference %}

{% block content %}
    <div class="page-header">
        <h1>{{ project.name }}</h1>
    </div>
    {% include "GitonomyFrontendBundle:Project:_navigation.html.twig" with {active: 'source'} %}
    <div class="page-header">
        <h2>Source</h2>
    </div>
    <div class="span8">
        {% for message in thread.messages %}
            <div>
                {{ thread.user.username }}
                <img class="avatar" src="{{ gravatar(thread.user.defaultEmail.email, 16) }}" alt="{{ thread.user.username }}" title="{{ thread.user.username }}" />
                <em>{{ message.type }}</em>
                <strong>{{ message.publishedAt | date('r') }}</strong>
                <p>{{ message.message | nl2br | raw }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
