{% extends "GitonomyFrontendBundle:ThreadMessage:message.html.twig" %}

{% block sentence %}
    {% set count = message.commits|length %}

    {% if message.isForce %}<strong>force-</strong>{% endif %}<span class="message-blue">pushed</span> {% transchoice count %}
        {0}no commits|{1} 1 commit|]1,Inf] %count% commits
    {% endtranschoice %}.
{% endblock %}

{% block message %}
    {% if message.commits|length %}
        <table class="table table-condensed commit-list">
            <tbody>
                {% for commit in message.commits %}
                    <tr>
                        <td class="message">
                            <a title="{{ commit.message }}" href="{{ path('gitonomyfrontend_project_showCommit', {'slug': project.slug, 'hash': commit.hash }) }}">
                                {{ commit.shortMessage }}
                            </a>
                        </td>
                        <td class="author">
                            {{ commit.authorName }}
                            <img class="avatar" src="{{ gravatar(commit.authorEmail, 16) }}" alt="{{ commit.authorName }}" title="{{ commit.authorName }}" />
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
{% endblock message %}
