{% extends "GitonomyDistributionBundle::layout.html.twig" %}

{% block content %}
    {% if step is defined %}
        {% set status = step.status(parameters) %}
    {% endif %}
    {% spaceless %}
    <ul class="menu">
        <li class="
        {{- app.request.attributes.get('_route') == 'gitonomydistribution_configuration_welcome' ? 'active' : '' -}}
        ">
        <a href="{{ path('gitonomydistribution_configuration_welcome') }}">Welcome</a>
        </li>
        {% for step in steps %}
            <li class="
            {{- _parent.step is defined and step.slug == _parent.step.slug ? 'active' : '' -}}
            {{- not step.status(parameters) ? ' error' : ''}}
            ">
                <a href="{{ path('gitonomydistribution_configuration_step', {slug: step.slug}) }}">{{ step.name }}</a>
            </li>
        {% endfor %}
        <li class="
            {{- app.request.attributes.get('_route') == 'gitonomydistribution_configuration_finish' ? 'active' : '' -}}
        ">
            <a href="{{ path('gitonomydistribution_configuration_finish') }}">Finish</a>
        </li>
    </ul>
    {% endspaceless %}
    {% block step_content '' %}
{% endblock %}
