{% extends "GitonomyFrontendBundle:BaseAdmin:delete.html.twig" %}

{% block title 'page.deleteEmail.title'|trans({'%email%': object.email}, 'profile') %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'title.deleteEmail'|trans({}, 'profile') }}</h1>
    </div>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_profile_email_delete', {'emailId': object.id}) }}" id="delete" method="POST" novalidate>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {% block admin_before_delete_form_end '' %}
        <input type="submit" class="btn btn-danger" value="{{ 'form.deleteEmail.submit'|trans({}, 'profile') }}" />
        <a href="{{ path('gitonomyfrontend_profile_email_list') }}" class="btn">{{ 'form.deleteEmail.cancel'|trans({}, 'profile') }}</a>
    </form>
{% endblock %}
