{% extends "GitonomyFrontendBundle:BaseAdmin:delete.html.twig" %}

{% block title 'Delete Email '~object %}

{% block content %}
    <div class="page-header">
        <h1>Delete Email "{{ object }}" ?</h1>
    </div>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_profile_email_delete', {'emailId': object.id}) }}" id="delete" method="POST" novalidate>
        {{ form_errors(form) }}
        {{ form_rest(form) }}
        {% block admin_before_delete_form_end '' %}
        <input type="submit" class="btn danger" value="Delete" />
        <a href="{{ path('gitonomyfrontend_profile_email_list') }}" class="btn">Cancel</a>
    </form>
{% endblock %}
