{% extends "GitonomyFrontendBundle:Profile:layout.html.twig" %}

{% block title 'Manage my emails' %}
{% set navigation_active = 'emails' %}

{% block column_right %}
    <div class="page-header">
        <h2>Emails</h2>
    </div>
    <form class="form" action="{{ path('gitonomyfrontend_profile_email_list') }}" method="POST" id="user_email" novalidate>
        {{ form_errors(form) }}
        <table class="bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>Email</th>
                    <th>Default</th>
                    <th>Activated</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                {% for email in object.emails %}
                    <tr id="email_{{ email.id }}">
                        <td>{{ email.email }}</td>
                        <td>{% if email.isDefault == 1 %}{{'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
                        <td>{% if email.isActivated == 1 %}{{'yes'|trans }}{% else %}{{ 'no'|trans }}{% endif %}</td>
                        <td>
                            {% if not email.isDefault %}
                                {% if email.isActivated %}
                                    <a href="{{ path('gitonomyfrontend_profile_email_default', {'emailId': email.id }) }}" class="label success">as default</a>
                                {% else %}
                                    <a href="{{ path('gitonomyfrontend_profile_email_sendactivation', {'emailId': email.id }) }}" class="label notice">send activation</a>
                                {% endif %}
                                <a href="{{ path('gitonomyfrontend_profile_email_delete', {'emailId': email.id }) }}" class="label important">delete</a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                <tr>
                    <td colspan="3">{{ form_widget(form.email) }}{{ form_errors(form.email) }}</td>
                    <td><input type="submit" class="btn success" value="Add" /></td>
                </tr>
            </tbody>
        </table>
        {{ form_rest(form) }}
    </form>
{% endblock %}
