{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block content %}
    <div class="row">
        <div class="span4">
            <div class="well">
                <ul>
                    <li>
                        {{ navigation_active == 'index' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_profile_index') }}">{{ 'menu.index'|trans({}, 'profile') }}</a>
                        {{ navigation_active == 'index' ? '</strong>' : '' }}
                    </li>
                    <li>
                        {{ navigation_active == 'sshKeys' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_profile_sshKeys') }}">{{ 'menu.ssh_keys'|trans({}, 'profile') }}</a>
                        {{ navigation_active == 'sshKeys' ? '</strong>' : '' }}
                    </li>
                    <li>
                        {{ navigation_active == 'emails' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_profile_emails') }}">{{ 'menu.emails'|trans({}, 'profile') }}</a>
                        {{ navigation_active == 'emails' ? '</strong>' : '' }}
                    </li>
                    <li>
                        {{ navigation_active == 'password' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_profile_password') }}">Password</a>
                        {{ navigation_active == 'password' ? '</strong>' : '' }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="span8">
            {% block column_right '' %}
        </div>
    </div>
{% endblock %}
