{% extends "GitonomyFrontendBundle:Profile:layout.html.twig" %}

{% block title 'Profile' %}
{% set navigation_active = 'password' %}

{% block column_right %}
    <div class="page-header">
        <h1>Change password</h1>
    </div>
    <p>Do you want to reset your password?</p>
    <form action="{{ path('gitonomyfrontend_profile_password') }}" method="POST">
        {{ form_errors(form) }}
        {{ form_row(form.oldPassword) }}
        {{ form_row(form.password) }}
        {{ form_rest(form) }}
        <p><input type="submit" class="btn btn-primary" value="Change my password" /></p>
    </form>
{% endblock %}
