{% extends "GitonomyWebsiteBundle::layout_splash.html.twig" %}

{% trans_default_domain "register" %}

{% block title 'page.title'|trans %}

{% block content %}
    <form method="POST" action"{{ path('splash_postRegister') }}" class="form-horizontal">
        <div class="control-group">
            <div class="controls">
                <h2>{{ 'title.register'|trans }}</h2>
            </div>
        </div>
        {{ form_widget(form) }}
        <div class="control-group">
            <div class="controls">
                <p>
                    <button type="submit" class="btn btn-primary">{{ 'form.submit'|trans }}</button>
                    <a class="btn" href="{{ path('splash_login') }}">{{ 'form.cancel'|trans }}</a>
                </p>
            </div>
        </div>
    </form>
{% endblock %}
