{% extends "GitonomyFrontendBundle:BaseAdmin:delete.html.twig" %}

{% macro role_title(object) %}
    User "{{ object.user.fullname }}" as "{{ object.role.name }}" on project "{{ object.project.name }}"
{% endmacro %}

{% block title 'Delete '~ _self.role_title(object) %}
{% set navigation_active = null %}

{% block content %}
    <div class="page-header">
        <h1>Delete {{ _self.role_title(object) }} ?</h1>
    </div>
    <form class="form-stacked" action="{{ path('gitonomyfrontend_adminuser_projectroles_delete', {'id':object.id}) }}" method="POST" novalidate>
        {{ form_errors(form) }}
        {{ form_rest(form) }}

        <input type="submit" class="btn btn-danger
btn btn-danger" value="Delete" />
        <a href="{{ path('gitonomyfrontend_adminuser_edit', {'id':object.user.id}) }}" class="btn">Cancel</a>
    </form>
{% endblock %}
