{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Roles' %}
{% set navigation_active = null %}

{% block content %}
    <h1>Roles</h1>
    <a href="{{ path('gitonomyfrontend_adminrole_create') }}" class="btn success">Create</a>
    <table class="zebra-striped" id="sortTableExample">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
                <th>Description</th>
                <th>Permissions</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>
                        <a href="{{ path('gitonomyfrontend_adminrole_edit', {'id': object.id}) }}">{{ object.name }}</a>
                    </td>
                    <td>{{ object.description }}</td>
                    <td>
                        {% for permission in object.permissions %}
                            {{ permission }}{% if not loop.last  %}, {% endif %}
                        {% endfor %}
                    </td>
                </tr>
            {% else %}
                <tr colspan="3">
                    <td>No roles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path('gitonomyfrontend_adminrole_create') }}" class="btn success">Create</a>
{% endblock %}