{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'page.title'|trans({}, 'dashboard') %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'title.repositories'|trans({}, 'dashboard') }}</h1>
    </div>
    <div class="row">
        {% for row in projects %}
            {% set project, repository = row[0], row[1] %}
            {% set branches = repository.references.branches %}
            {% set tags = repository.references.tags %}
            <div class="span6">
                <div class="project-card">
                    <h2>
                        <a href="{{ path('gitonomyfrontend_project_show', {slug: project.slug}) }}">{{ project.name }}</a>
                        <small class="branches-tags pull-right">
                            {{ 'label.branches'|transchoice(branches|length, {'%count%': branches|length}, 'dashboard') }}
                            {% if branches|length and tags|length %}-{% endif %}
                            {{ 'label.tags'|transchoice(tags|length, {'%count%': tags|length}, 'dashboard') }}
                        </small>
                    </h2>
                    <pre>git clone {{ project_ssh(project) }}</pre>
                </div>
            </div>
        {% endfor %}
        <div class="span6">
            &nbsp;
        </div>
    </div>
{% endblock %}
