{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Welcome to Gitonomy' %}

{% block content %}
    <div class="page-header">
        <h1>Your repositories</h1>
    </div>
    <div class="row">
        {% for row in projects %}
            {% set project, repository = row[0], row[1] %}
            <div class="span6">
                <div>
                    <h2>
                        <a href="{{ path('gitonomyfrontend_project_history', {slug: project.slug}) }}">{{ project.name }}</a>
                        <small>
                            {{ repository.references.branches|length }} branches
                            /
                            {{ repository.references.tags|length }} tags
                        </small>
                    </h2>
                    <pre>git clone {{ project_ssh(project) }}</pre>
                </div>
            </div>
        {% endfor %}
        <div class="span6">
            &nbsp;
        </div>
    </div>
{% endblock %}
