{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'page.title'|trans({'%app%': gitonomy.name}, 'homepage') %}

{% block content %}
    <div class="hero-unit">
        {% if is_granted('AUTHENTICATED') %}
            <p>You are connected! Quick! Navigate with the menu!</p>
        {% else %}
            <h1>{{ gitonomy.name }}</h1>
            <p>{{ gitonomy.baseline }}</p>
            <p>
                <a href="{{ path('gitonomyfrontend_security_login') }}" class="btn btn-primary btn-large">
                    {{ 'button.connect'|trans({}, 'homepage') }}
                </a>
                {% if gitonomy.open_registration %}
                    <a href="{{ path('gitonomyfrontend_security_register') }}" class="btn btn-large">
                        {{ 'button.register'|trans({}, 'homepage') }}
                    </a>
                {% endif %}
            </p>
        {% endif %}
    </div>
{% endblock %}
