{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'page.title'|trans({'%app%': gitonomy.name}, 'login') %}
{% set navigation_active = null %}

{% block content_javascript %}
    <script type="text/javascript">
        jQuery(window).load(function (){
            jQuery("#_username").focus();
        });
    </script>
{% endblock %}

{% block content %}
    <div class="row">
        <div class="span4">
            <div class="page-header">
                <h1>{{ 'title.login'|trans({}, 'login') }}</h1>
            </div>
            <form class="form-stacked" action="{{ path('gitonomyfrontend_security_loginCheck') }}" method="POST" novalidate>
                {{ form_widget(form) }}
                <p><input class="btn btn-primary" type="submit" name="login" value="{{ 'form.submit'|trans({}, 'login') }}" /></p>
            </form>
            <p><a href="{{ path('gitonomyfrontend_security_forgotPassword') }}">
                {{ 'link.forgot_password'|trans({}, 'login') }}
            </a></p>
        </div>
    </div>
{% endblock %}
