{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'security.login'|trans({}, 'security') %}
{% set navigation_active = null %}

{% block content_javascript %}
    <script type="text/javascript">
        jQuery(window).load(function (){
            jQuery("#username").focus();
        });
    </script>
{% endblock %}

{% block content %}
    <h1>Login</h1>
    {% if error %}
        <div class="alert-message warning">
            <p>
                <strong>{{ 'security.login_unable'|trans({}, 'security') }}:</strong>
                {{ error.message }}
            </p>
        </div>
    {% endif %}
    <form class="form-stacked" action="{{ path('gitonomyfrontend_security_loginCheck') }}" method="POST" novalidate>
        <div class="well">
            <div class="clearfix">
                <label for="username">{{ 'security.username'|trans({}, 'security') }}:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </div>
            <div class="clearfix">
                <label for="password">{{ 'security.password'|trans({}, 'security') }}:</label>
                <input type="password" id="password" name="_password" />
            </div>
            <div class="clearfix">
                <input name="_remember_me" id="rememberMe" type="checkbox">
                <label for="rememberMe" >{{ 'security.remember_me'|trans({}, 'security') }}</label>
            </div>

            <p>
                <a href="{{ path('gitonomyfrontend_security_forgotPassword') }}">Forgot your password?</a>
            </p>

            <p>
                <input class="btn primary" type="submit" name="login" value="{{ 'security.login'|trans({}, 'security') }}" />
            </p>
        </div>
    </form>
{% endblock %}