{% trans_default_domain 'navigation_project' %}

<div class="btn-group pull-right">
    <a class="menu dropdown-toggle" data-toggle="dropdown">
        {{ reference|default('contextual.all_branches'|trans) }}
        <span class="caret"></span>
    </a>
    <ul class="dropdown-menu pull-right">
        {% for row in branches %}
            <li>
                <a href="{{ path(route, { slug: project.slug, reference: row.branch.name, path: path }) }}">
                    {% if reference != row.branch.name %}
                        <div class="label pull-right">
                            <span class="behind">-{{ row.behind }}</span>
                            <span class="above">+{{ row.above }}</span>
                        </div>
                    {% endif %}
                    {{ row.branch.name }}
                </a>
            </li>
        {% endfor %}
        {% if withAll %}
            <li class="divider"></li>
            <li><a href="{{ path(route, { slug: project.slug }) }}">{{ 'contextual.all_branches'|trans }}</a></li>
        {% endif %}
    </ul>
</div>
