{% if path != "" %}
    {% set path_record = "" %}
    <div class="actionbar">
        {% render "GitonomyWebsiteBundle:Project:_branchActivity" with {project: project.slug, route: 'project_tree', reference: reference} %}

        <div class="pull-right">
            {% if active != 'show' %}
                <a class="menu" href="{{ path('project_tree', {slug: project.slug, reference: reference, path: path}) }}">
                    Show
                </a>
            {% endif %}
            {% if active != 'history' %}
                <a class="menu" href="{{ path('project_tree_history', {slug: project.slug, reference: reference, path: path}) }}">
                    History
                </a>
            {% endif %}
        </div>

        <ul class="pathcrumb">
            {% for segment in path_exploded %}
                {% set path_record = path_record == "" ? segment : path_record ~ "/" ~ segment %}
                <li{% if loop.last %} class="active"{% endif %}>
                    {% if not loop.last %}
                        <a href="{{ path('project_tree', {slug: project.slug, reference:reference, path: path_record}) }}">{{ segment }}</a>
                        <span class="divider">/</span>
                    {% else %}
                        {{ segment }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
    </div>
{% else %}
    <div class="actionbar">
        {% render "GitonomyWebsiteBundle:Project:_branchActivity" with {project: project.slug, route: 'project_tree', reference: reference} %}
    </div>
{% endif %}
