{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% set global_navigation = 'projects' %}
{% set local_navigation = 'branches' %}
{% trans_default_domain 'project_branches' %}

{% block title 'page.title'|trans({'%project%': project.name}) %}

{% block project_content %}
    <div id="content">
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'table.column.branch'|trans }}</th>
                    <th>{{ 'table.column.last_commit'|trans }}</th>
                    <th>{{ 'table.column.author'|trans }}</th>
                    <th>{{ 'table.column.date'|trans }}</th>
                    <th>{{ 'table.column.diff'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for row in rows %}
                    {% set branch = row.branch %}
                    <tr>
                        <td>{{ branch.name }}</td>
                        <td><a href="{{ path('project_commit', {slug: project.slug, hash: branch.commit.hash}) }}">{{ branch.commit.shortHash }}</a> {{ branch.commit.shortMessage }}</td>
                        <td class="author">
                            <img class="avatar" src="{{ gravatar(branch.commit.authorEmail, 16) }}" alt="{{ branch.commit.authorName }}" title="{{ branch.commit.authorName }}" />
                            {{ branch.commit.authorName }}
                        </td>
                        <td>{{ branch.commit.authorDate.format('Y-m-d H:i:s') }}</td>
                        <td>
                            {% if row.behind and row.above %}
                                <div class="pull-right">
                                    <a href="{{ path('project_compare', {slug: project.slug, revision: project.defaultBranch~'..'~branch.name}) }}">
                                        <span class="behind">-{{ row.behind }}</span>
                                        <span class="above">+{{ row.above }}</span>
                                    </a>
                                </div>
                            {% endif %}
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No Branches found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
