{% extends "GitonomyWebsiteBundle::layout.html.twig" %}

{% block title 'Projects' %}

{% set global_navigation = 'projects' %}

{% block content %}
    <h1>
        Projects
    </h1>

    <div id="content">
        <div class="actionbar">
            <div class="pull-right">
                {% if is_granted('ROLE_PROJECT_CREATE') %}
                    <a href="{{ path('project_create') }}" class="btn btn-success"><i class="symbol">add</i> Create new project</a>
                {% endif %}
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Access</th>
                    <th>Size</th>
                    <th>Branches</th>
                    <th>Tags</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for project in projects %}
                    <tr>
                        <td><a href="{{ path('project_newsfeed', {slug: project[0].slug}) }}">{{ project[0].name }}</a></td>
                        <td><code>git clone {{ gitonomy.ssh_access~':'~project[0].slug~'.git' }}</code></td>
                        <td>{{ '%.2f'|format(project[0].repositorySize/1024) }} Mo</td>
                        <td>{{ project[1].references.branches|length }}</td>
                        <td>{{ project[1].references.tags|length }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No project found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
