{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% block title app.request.attributes.get('slug') ~ ' - Tags' %}

{% set global_navigation = 'projects' %}
{% set local_navigation = 'tags' %}

{% block project_content %}
    <div id="content">
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Last commit</th>
                    <th>Author</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                {% for tag in tags %}
                    <tr>
                        <td>{{ tag.name }}</td>
                        <td><a href="{{ path('project_commit', {slug: project.slug, hash: tag.commit.hash}) }}">{{ tag.commit.shortMessage }}</a></td>

                        <td class="author">
                            <img class="avatar" src="{{ gravatar(tag.commit.authorEmail, 16) }}" alt="{{ tag.commit.authorName }}" title="{{ tag.commit.authorName }}" />
                            {{ tag.commit.authorName }}
                        </td>

                        <td>{{ tag.commit.authorDate.format('Y-m-d H:i:s') }}</td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="4">No Tags found</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
