{% extends "GitonomyWebsiteBundle::layout_project.html.twig" %}

{% block title app.request.attributes.get('slug') ~ ' - History' %}

{% set global_navigation = 'projects' %}
{% set local_navigation = 'source' %}

{% block project_content %}
    {% set diff = commit.diff %}

    {% include "GitonomyWebsiteBundle:Project:_pathcrumb.html.twig" with {active: 'show', project: project, reference: reference|default(project.defaultBranch)} %}

    <table class="table table-striped">
        <thead>
            <tr>
                <th width="100">Mode</th>
                <th width="20">&nbsp;</td>
                <th>Filename</th>
                <th>Date</th>
                <th>Message</th>
            </tr>
        </thead>
        <tbody>
            {% if path != "" %}
                <tr>
                    <td>&nbsp;</td>
                    <td><i class="icon-folder-open"></i></td>
                    <td>
                        <a href="{{ path('project_tree', {slug: project.slug, reference: reference, path: parent_path}) }}">
                            ..
                        </a>
                        /
                    </td>
                    <td>&nbsp;</td>
                    <td>
                        &nbsp;
                    </td>
                </tr>
            {% endif %}
            {% for name, data in tree.entries if data[1] is git_tree %}
                {% set lastModificationCommit = commit.lastModification(path~'/'~name, commit) %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td><i class="icon-folder-open"></i></td>
                    <td>
                        <a href="{{ path('project_tree', {slug: project.slug, reference: reference, path: (path == "" ? name : path ~ '/' ~ name)}) }}">
                            {{ name }}
                        </a>/
                    </td>
                    <td>{{ lastModificationCommit.getCommitterDate.format('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('project_commit', {slug: project.slug, reference: reference, hash: lastModificationCommit.hash }) }}">
                            {{ lastModificationCommit.shortMessage }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
            {% for name, data in tree.entries if data[1] is not git_tree %}
                {% set lastModificationCommit = commit.lastModification(path~'/' ~name) %}
                <tr>
                    <td>{{ data[0] }}</td>
                    <td>&nbsp;</td>
                    <td>
                        <a href="{{ path('project_tree', {slug: project.slug, reference: reference, path: (path == "" ? name : path ~ '/' ~ name)}) }}">
                            {{ name }}
                        </a>
                    </td>
                    <td>{{ lastModificationCommit.getCommitterDate.format('Y-m-d H:i:s') }}</td>
                    <td>
                        <a href="{{ path('project_commit', {slug: project.slug, reference: reference, hash: lastModificationCommit.hash }) }}">
                            {{ lastModificationCommit.shortMessage }}
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
