{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title user.fullname %}

{% block content %}
    <div class="page-header">
        <h1>{{ user.fullname }} <small>{{ user.username }}</small></h1>
    </div>
    <h2>Informations</h2>
    <ul>
        <li><strong>Fullname:</strong> {{ user.fullname }}</li>
        <li><strong>Timezone:</strong> {{ user.timezone }}</li>
        <li><strong>Main email:</strong> {{ user.defaultEmail.email }}</li>
    </ul>
    <h2>Projects</h2>
    <p>@todo (intersection user &amp; securityUser)</p>
{% endblock %}
