{% extends "GitonomyWebsiteBundle::layout_mail.mail.twig" %}

{% block subject parent() ~ 'You need to activate an email' | raw %}

{% block content_html %}
    {% set user = email.user %}
    Hey {{ user.fullname }},

    You registered a new email on {{ config.get('name') }}.
    To fully use it, you have to activate it.

    <a href="{{ url('splash_activateEmail', {token: email.activationToken}) }}">Activate email {{ email.email }}</a>
{% endblock %}

{% block content_text %}
{% set user = email.user %}
Hey {{ user.fullname }},

You registered a new email on {{ config.get('name') }}.
To fully use it, you have to activate it.

Follow this link :
{{ url('splash_activateEmail', {token: email.activationToken}) }}
{% endblock %}
