{% extends "GitonomyWebsiteBundle::layout_mail.mail.twig" %}

{% block subject parent() ~ 'mail.subject'|trans({}, 'forgot_password')|raw %}

{% block content_html %}
{% set url = url('splash_changePassword', {'username': user.username, 'token': token.token }) %}
<p>{{ 'mail.paragraph.explain'|trans({}, 'forgot_password') }}</p>

<p>{{ 'mail.paragraph.call'|trans({}, 'forgot_password') }}</p>

<p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}

{% block content_text %}
{% set url = url('splash_changePassword', {'username': user.username, 'token': token.token }) %}
{{ 'mail.paragraph.explain'|trans({}, 'forgot_password') }}

{{ 'mail.paragraph.call'|trans({}, 'forgot_password') }}

{{ url }}
{% endblock %}
