{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Edit '~object_type~' '~object %}
{% set navigation_active = null %}

{% block content %}
    <div class="page-header">
        <h1>Edit {{ object_type }} "{{ object }}"</h1>
    </div>
    {% block form %}
        <form class="form-stacked" action="{{ path(route_prefix~'_edit', {'id':object.id}) }}" method="POST" id="{{ object_type }}" novalidate>
            {% block actions '' %}
            {% include [controller_prefix~':form.html.twig', 'GitonomyFrontendBundle:BaseAdmin:form.html.twig'] with { 'form': form } only %}
            <hr />
            <input type="submit" class="btn btn-success" value="Update" />
            <a href="{{ path(route_prefix~'_list') }}" class="btn">Cancel</a>
            <a href="{{ path(route_prefix~'_delete', {'id':object.id}) }}" class="btn btn-danger
btn btn-danger">Delete</a>
        </form>
    {% endblock %}
{% endblock %}
