{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title object_type~' management' %}
{% set navigation_active = null %}

{% block content %}
    <h1>{{ object_type~' management' }}</h1>
    <a href="{{ path(route_prefix~'_create') }}" class="btn success">Create</a>
    <table class="zebra-striped" id="sortTableExample">
        <thead>
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>
                        <a href="{{ path(route_prefix~'_edit', {'id': object.id}) }}">{{ object }}</a>
                    </td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="2">No {{ object_type }} to display</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <a href="{{ path(route_prefix~'_create') }}" class="btn success">Create</a>
{% endblock %}