{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title object_type~' management' %}

{% block content %}
    <div class="page-header">
        <h1>{{ object_type|capitalize~' management' }}</h1>
    </div>
    <a href="{{ path(route_prefix~'_create') }}" class="btn btn-success">Create</a>
    <hr />
    <table class="table table-striped" id="sortTableExample">
        <thead>
            {% block admin_list_thead %}
            <tr>
                <th>#</th>
                <th>Name</th>
            </tr>
            {% endblock %}
        </thead>
        <tbody>
            {% for object in objects %}
                {% block admin_list_row %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>
                        <a href="{{ path(route_prefix~'_edit', {'id': object.id}) }}">{{ object }}</a>
                    </td>
                </tr>
                {% endblock %}
            {% else %}
                <tr>
                    <td colspan="2">No {{ object_type }} to display</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr />
    <a href="{{ path(route_prefix~'_create') }}" class="btn btn-success">Create</a>
{% endblock %}
