{% extends "GitonomyWebsiteBundle:Message:message.html.twig" %}

{% trans_default_domain 'newsfeed' %}

{% block sentence %}
    {% set count = message.commitCount %}
    {% if message.isForce %}
        {{ 'message.commit_forced'|trans({'%commits%': 'inline.commits'|transchoice(count)})|replace({'%before_verb%': '<span class="message-blue">', '%after_verb%': '</span>'})|raw }}
    {% else %}
        {{ 'message.commit_pushed'|trans({'%commits%': 'inline.commits'|transchoice(count)})|replace({'%before_verb%': '<span class="message-blue">', '%after_verb%': '</span>'})|raw }}
    {% endif %}
{% endblock %}

{% block message %}
    {% set count = message.commitCount %}
    {% if count %}
        <table class="table table-condensed commit-list">
            <tbody>
                {% for commit in message.commits %}
                    <tr>
                        <td class="message">
                            <a title="{{ commit.message }}" href="{{ path('project_commit', {'slug': project.slug, 'hash': commit.hash }) }}">
                                {{ commit.shortMessage }}
                            </a>
                        </td>
                        <td class="author">
                            <img class="avatar" src="{{ gravatar(commit.authorEmail, 16) }}" alt="{{ commit.authorName }}" title="{{ commit.authorName }}" />
                        </td>
                    </tr>
                {% endfor %}
                {% if count > 5 %}
                    <tr>
                        <td colspan="2">
                            <small>{{ 'message.other_commits'|transchoice(count - 5) }}</small>
                        </td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% endif %}
{% endblock message %}
