{% extends "GitonomyFrontendBundle:AdminProject:layout.html.twig" %}

{% block title parent() ~ 'Informations' %}
{% set navigation_active = 'edit' %}

{% block content_right %}
    <h2>Informations</h2>
    <h4><strong>Project size:</strong> {{ (object.repositorySize/1024)|number_format(2) }}MB</h4>
    <p>{{ gitonomy.name }} does not provide a functionality to limit the project size. Please use system features (like quota) to restrict the size of a project.</p>
    <h2>Edit details</h2>
    <form class="form-stacked" action="{{ path(route_prefix~'_edit', {'id':object.id}) }}" method="POST" id="{{ object_type }}" novalidate>
        {% block actions '' %}
        {% include [controller_prefix~':form.html.twig', 'GitonomyFrontendBundle:BaseAdmin:form.html.twig'] with { 'form': form } only %}
        <hr />
        <input type="submit" class="btn btn-success" value="Update" />
        <a href="{{ path(route_prefix~'_list') }}" class="btn">Cancel</a>
        <a href="{{ path(route_prefix~'_delete', {'id':object.id}) }}" class="btn btn-danger
btn btn-danger">Delete</a>
    </form>
{% endblock %}
