{% extends "GitonomyFrontendBundle:AdminProject:layout.html.twig" %}

{% block title parent() ~ 'User roles' %}
{% set navigation_active = 'userRoles' %}

{% block content_right %}
    <div class="page-header">
        <h2>User roles</h2>
    </div>
    <form class="form" action="{{ path('gitonomyfrontend_adminproject_userRoles', {'id' :object.id}) }}" method="POST" id="user_role_project" novalidate>
        {{ form_errors(form) }}
        <table class="bordered-table zebra-striped">
            <thead>
                <tr>
                    <th>Project</th>
                    <th>Role</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for userRole in object.userRoles %}
                    <tr>
                        <td>{{ userRole.user }}</td>
                        <td>{{ userRole.role }}</td>
                        <td><a href="{{ path('gitonomyfrontend_adminproject_userRoleDelete', {'userRoleId': userRole.id }) }}" class="label important">delete</td>
                    </tr>
                {% endfor %}
                {% if displayForm %}
                    <tr>
                        <td>{{ form_widget(form.user) }}</td>
                        <td>{{ form_widget(form.role) }}</td>
                        <td><input type="submit" class="btn success" /></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
        {{ form_rest(form) }}
    </form>
{% endblock %}
