{% extends "SensioDistributionBundle::Configurator/form.html.twig" %}

{% block repository_path_widget %}
    <span>
        {{ form_widget(form.type) }}
        {{ form_widget(form.value) }}
    </span>
    {{ form_errors(form) }}
{% endblock %}

{% block checkbox_row %}
    {{ form_widget(form) }}
    {{ form_label(form) }}
{% endblock %}
