{% extends "SensioDistributionBundle::Configurator/layout.html.twig" %}

{% block title %}Symfony - Configure database{% endblock %}

{% block content %}
    {% form_theme form "SensioDistributionBundle::Configurator/form.html.twig" %}
    {% include "SensioDistributionBundle::Configurator/steps.html.twig" with { "index": index, "count": count } %}

    <h1>Configure your mailer</h1>
    <p>Application needs to send mails, configure here how to send them:</p>

    {{ form_errors(form) }}
    <form action="{{ path('_configurator_step', { 'index': index }) }}" method="POST">
        <div class="symfony-form-column">
            {{ form_row(form.transport) }}
            {{ form_row(form.host) }}
        </div>
        <div class="symfony-form-column">
            {{ form_row(form.user) }}
            {{ form_row(form.password) }}
        </div>

        {{ form_rest(form) }}

        <div class="symfony-form-footer">
            <p><input type="submit" value="Next Step" class="symfony-button-grey" /></p>
            <p>* mandatory fields</p>
        </div>
    </form>
{% endblock %}
