{% extends "::base.html.twig" %}

{% block title 'Verifications' %}

{% block stylesheets %}
    {% include "GitonomyFrontendBundle::stylesheets.html.twig" %}
{% endblock %}

{% block javascripts %}
    {% include "GitonomyFrontendBundle::javascripts.html.twig" %}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="page-header">
            <h1>Verifications</h1>
        </div>
        {% if app.session.hasFlash('verification_confirmation') %}
            <div class="alert-message success">
                {{ app.session.getFlash('verification_confirmation') }}
            </div>
        {% endif %}
        <h2>Verify your mail server</h2>
        <p>Make sure your mail server is correctly configured, send a mail to check it.</p>
        <form class="check-mail" action="{{ path('gitonomydistribution_verification_mail') }}" method="POST" {{ form_enctype(mailForm) }} novalidate>
            {{ form_errors(mailForm) }}
            {{ form_errors(mailForm.email) }}
            <p>
                {{ form_widget(mailForm.email) }}
                <input type="submit" value="Send" class="btn" />
            </p>
            {{ form_rest(mailForm) }}
        </form>
    </div>
{% endblock %}
