{% extends "GitonomyFrontendBundle::layout.mail.twig" %}

{% block subject 'Hello world from ' ~ gitonomy.name | raw %}

{% block content_html %}
    {% set url = url('gitonomyfrontend_main_homepage') %}
    <p>Hello there,</p>

    <p>This is a test mail, to make sure {{ gitonomy.name }} can actually send you a mail.</p>

    <p><a href="{{ url }}">{{ url }}</a></p>
{% endblock %}

{% block content_text %}
Hello there,

This is a test mail, to make sure {{ gitonomy.name }} can actually send you a mail.

{{ url('gitonomyfrontend_main_homepage') }}
{% endblock %}
