{% extends "GitonomyFrontendBundle::layout.mail.twig" %}

{% block subject parent() ~ 'Your account has been created' | raw %}

{% block content_html %}
    Hey {{ user.fullname }},

    Your account has been registered on {{ gitonomy.name }}.
    To fully use it, you have to activate it.

    <a href="{{ url('gitonomyfrontend_profile_activate', {'username': user.username, 'token': token}) }}">Activate your account</a>
{% endblock %}

{% block content_text %}
Hey {{ user.fullname }},

Your account has been registered on {{ gitonomy.name }}.
To fully use it, you have to activate it.

Follow this link:
{{ url('gitonomyfrontend_profile_activate', {'username': user.username, 'token': token}) }}
{% endblock %}
