{% extends "GitonomyFrontendBundle:AdminUser:layout.html.twig" %}

{% set navigation_active = 'edit' %}

{% block content_right %}
    {{ form_errors(form) }}
    <form class="form-stacked" action="{{ path(route_prefix~'_edit', {'id':object.id}) }}" method="POST" id="user" novalidate>
        <h2>{{ 'title.edit_informations.general'|trans({}, 'admin_user') }}</h2>
        {{ form_row(form.username) }}
        {{ form_row(form.fullname) }}
        {{ form_row(form.timezone) }}
        <h2>{{ 'title.edit_informations.global_roles'|trans({}, 'admin_user') }}</h2>
        {{ form_widget(form.globalRoles) }}
        {{ form_rest(form) }}
        <hr />
        <input type="submit" class="btn btn-success" value="{{ 'form.edit_informations.submit'|trans({}, 'admin_user') }}" />
        <a href="{{ path(route_prefix~'_list') }}" class="btn">{{ 'button.back_to_list'|trans({}, 'admin_user') }}</a>
        <a href="{{ path(route_prefix~'_delete', {'id':object.id}) }}" class="btn btn-danger btn btn-danger">{{ 'button.delete'|trans({}, 'admin_user') }}</a>
        {% if (object.hasDefaultEmail and not object.isActive) %}
            <a href="{{ path(route_prefix~'_activate', {'id':object.id}) }}" class="btn btn-info">Activate</a>
        {% endif %}
    </form>
{% endblock %}
