{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Edit '~object_type~' '~object %}
{% set navigation_active = null %}

{% block content %}
    <div class="page-header">
        <h1>Edit {{ object_type }} {{ object }}</h1>
    </div>
    <form class="form-stacked" action="{{ path(route_prefix~'_edit', {'id':object.id}) }}" method="POST" novalidate>
        <div class="row">
            {{ form_errors(form) }}
            <div class="span6">
                <div class="page-header">
                    <h2>User informations</h2>
                </div>
                {{ form_row(form.username) }}
                {{ form_row(form.fullname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.timezone) }}
                <a href="{{ path(route_prefix~'_mail', {'id':object.id}) }}" class="btn">Send an email</a>
            </div>
            <div class="span9">
                <div class="page-header">
                    <h2>Project roles</h2>
                </div>
                {{ form_widget(form.projectUserRoles) }}
                <input type="button" id="add-projectuserrole" class="btn" value="Add to a new project" />
                <div class="page-header">
                    <h2>Global roles</h2>
                </div>
                {{ form_row(form.globalUserRoles) }}
            </div>
        </div>
        <hr />
        {{ form_rest(form) }}
        <input type="submit" class="btn success" value="Update" />
        <a href="{{ path(route_prefix~'_list') }}" class="btn">Cancel</a>
        <a href="{{ path(route_prefix~'_delete', {'id':object.id}) }}" class="btn danger">Delete</a>
    </form>
{% endblock %}

{% block content_javascript %}
    <script type="text/javascript" src="{{ asset('bundles/gitonomyfrontend/js/admin_user_form.js') }}"></script>
{% endblock %}
