{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Edit '~object_type~' '~object %}
{% set navigation_active = null %}

{% block content %}
    <div class="page-header">
        <h1>Edit {{ object_type }} "{{ object }}"</h1>
    </div>
    <div class="row">
        {{ form_errors(form) }}
        <div class="span6">
            <form class="form-stacked" action="{{ path(route_prefix~'_edit', {'id':object.id}) }}" method="POST" id="user" novalidate>
                <div class="page-header">
                    <h2>User informations</h2>
                </div>
                {{ form_row(form.username) }}
                {{ form_row(form.fullname) }}
                {{ form_row(form.email) }}
                {{ form_row(form.timezone) }}
                <div class="page-header">
                    <h2>Global roles</h2>
                </div>
                {{ form_widget(form.userRolesGlobal) }}
                {{ form_rest(form) }}
                <hr />
                <input type="submit" class="btn success" value="Update" />
                <a href="{{ path(route_prefix~'_list') }}" class="btn">Cancel</a>
                <a href="{{ path(route_prefix~'_delete', {'id':object.id}) }}" class="btn danger">Delete</a>
            </form>
        </div>
        <div class="span9">
            {% render 'GitonomyFrontendBundle:AdminUser:projectRoles' with {'userId': object.id} %}
        </div>
    </div>
{% endblock %}
