{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'page.edit.title'|trans({'%user%': object.fullname}, 'admin_user') %}

{% block content %}
    <div class="page-header">
        <h1>{{ 'title.edit'|trans({'%user%': object.fullname}, 'admin_user') }}</h1>
    </div>
    <div class="row">
        <div class="span4">
            <div class="well">
                <ul>
                    <li>
                        {{ navigation_active == 'edit' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_adminuser_edit', {'id': object.id }) }}">{{ 'menu.informations'|trans({}, 'admin_user') }}</a>
                        {{ navigation_active == 'edit' ? '</strong>' : '' }}
                    </li>
                    <li>
                        {{ navigation_active == 'projectRoles' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_adminuser_projectroles', {'userId': object.id }) }}">{{ 'menu.roles'|trans({}, 'admin_user') }}</a>
                        {{ navigation_active == 'projectRoles' ? '</strong>' : '' }}
                    </li>
                    <li>
                        {{ navigation_active == 'emails' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_adminuser_email_list', {'id': object.id }) }}">{{ 'menu.emails'|trans({}, 'admin_user') }}</a>
                        {{ navigation_active == 'emails' ? '</strong>' : '' }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="span8">
            {% block content_right '' %}
        </div>
    </div>
{% endblock %}
