{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title object.fullname ~ ' | ' %}

{% block content %}
    <div class="page-header">
        <h1>Edit user "{{ object }}"</h1>
    </div>
    <div class="row">
        <div class="span4">
            <div class="well">
                <ul>
                    <li>
                        {{ navigation_active == 'edit' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_adminuser_edit', {'id': object.id }) }}">Informations</a>
                        {{ navigation_active == 'edit' ? '</strong>' : '' }}
                    </li>
                    <li>
                        {{ navigation_active == 'projectRoles' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_adminuser_projectroles', {'userId': object.id }) }}">User roles</a>
                        {{ navigation_active == 'projectRoles' ? '</strong>' : '' }}
                    </li>
                    <li>
                        {{ navigation_active == 'emails' ? '<strong>' : '' }}
                            <a href="{{ path('gitonomyfrontend_adminuser_email_list', {'id': object.id }) }}">Emails</a>
                        {{ navigation_active == 'emails' ? '</strong>' : '' }}
                    </li>
                </ul>
            </div>
        </div>
        <div class="span12">
            {% block content_right '' %}
        </div>
    </div>
{% endblock %}
