{% extends "GitonomyFrontendBundle::layout.html.twig" %}

{% block title 'Users' %}
{% set navigation_active = null %}

{% block content %}
    <div class="page-header">
        <h1>Users</h1>
    </div>
    <a href="{{ path('gitonomyfrontend_adminuser_create') }}" class="btn success">Create</a>
    <hr />
    <table class="zebra-striped" id="sortTableExample">
        <thead>
            <tr>
                <th>#</th>
                <th>Username</th>
                <th>Fullname</th>
                <th>Default email</th>
            </tr>
        </thead>
        <tbody>
            {% for object in objects %}
                <tr>
                    <td>{{ object.id }}</td>
                    <td>
                        <a href="{{ path('gitonomyfrontend_adminuser_edit', {'id': object.id}) }}">{{ object.username }}</a>
                    </td>
                    <td>{{ object.fullname }}</td>
                    <td>{{ object.hasDefaultEmail ? object.defaultEmail.email : '' }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="4">No roles</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr />
    <a href="{{ path('gitonomyfrontend_adminuser_create') }}" class="btn success">Create</a>
{% endblock %}
