{% extends "GitonomyFrontendBundle:AdminUser:layout.html.twig" %}

{% set navigation_active = 'projectRoles' %}

{% block content_right %}
    <div class="page-header">
        <h2>{{ 'title.edit_projects'|trans({}, 'admin_user') }}</h2>
    </div>
    {% if displayForm %}
        <form class="form" action="{{ path('gitonomyfrontend_adminuser_projectroles', {'userId':object.id}) }}" method="POST" id="user_role_project" novalidate>
        {{ form_errors(form) }}
    {% endif %}
        <table class="bordered-table table table-striped">
            <thead>
                <tr>
                    <th>{{ 'table.roles.project'|trans({}, 'admin_user') }}</th>
                    <th>{{ 'table.roles.role'|trans({}, 'admin_user') }}</th>
                    <th>{{ 'table.roles.actions'|trans({}, 'admin_user') }}</th>
                </tr>
            </thead>
            <tbody>
                {% for projectRole in object.projectRoles %}
                    <tr>
                        <td>{{ projectRole.project.name }}</td>
                        <td>{{ projectRole.role.name }}</td>
                        <td><a href="{{ path('gitonomyfrontend_adminuser_projectroles_delete', {'id': projectRole.id }) }}" class="label label-important">{{ 'button.delete'|trans({}, 'admin_user') }}</td>
                    </tr>
                {% endfor %}
                {% if displayForm %}
                    <tr>
                        <td>{{ form_widget(form.project) }}</td>
                        <td>{{ form_widget(form.role) }}</td>
                        <td><input type="submit" class="btn btn-primary" value="{{ 'button.save_project_role'|trans({}, 'admin_user') }}" /></td>
                    </tr>
                {% endif %}
            </tbody>
        </table>
    {% if displayForm %}
        {{ form_rest(form) }}
    {% endif %}
    </form>
{% endblock %}
