{% block field_row %}
{% spaceless %}
    <div id="{{ id }}_field" class="clearfix{% if errors|length %} error{% endif %}">
        {{ form_label(form, label|default(null)) }}
        {{ form_widget(form, {'attr': field_attr|default({})}) }}
        {{ form_errors(form) }}
    </div>
{% endspaceless %}
{% endblock field_row %}

{% block field_errors %}
{% spaceless %}
    {% if errors|length > 0 %}
        {% for error in errors %}
            <p><span class="help-inline">{{ error.messageTemplate|trans(error.messageParameters, 'validators') }}</span></p>
        {% endfor %}
    {% endif %}
{% endspaceless %}
{% endblock field_errors %}

{% block project_git_accesses_widget %}
{% set form_new = form_widget(form.get('prototype')) %}
<table class="bordered-table zebra-striped">
    <thead>
        <tr>
            <th>&nbsp;</th>
            <th>Role</th>
            <th>Reference</th>
            <th>R</th>
            <th>W</th>
            <th>+</th>
        </tr>
    </thead>
    <tbody>
        {% for row in form %}
            {{ form_widget(row) }}
        {% endfor %}
    </tbody>
    <tfoot>
        {{ form_new | raw }}
    </tfoot>
</table>
{% endblock %}

{% block project_git_access_widget %}
<tr>
    <td>&nbsp;</td>
    <td>{{ form_widget(form.role, {'attr': {'class':'span3' }}) }}</td>
    <td>{{ form_widget(form.reference, {'attr': {'class':'span3' }}) }}</td>
    <td>{{ form_widget(form.is_read) }}</td>
    <td>{{ form_widget(form.is_write) }}</td>
    <td>{{ form_widget(form.is_admin) }}</td>
</tr>
{% endblock %}
