<div class="topbar" data-dropdown>
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ path('gitonomyfrontend_main_homepage') }}">{{ gitonomy.name }}</a>
            <ul class="nav">
                {% set projects = project_list() %}
                {% if projects|length or is_granted('ROLE_PROJECT_CREATE') %}
                    <li class="projects">
                        <a href="#" class="dropdown-toggle">Projects</a>
                        <ul class="dropdown-menu">
                            {% for project in projects %}
                                <li><a href="{{ path('gitonomyfrontend_project_show', {'slug': project.slug }) }}">{{ project.name }}</a></li>
                            {% endfor %}
                            {% if projects|length and is_granted('ROLE_PROJECT_CREATE') %}
                                <li class="divider"></li>
                            {% endif %}
                            {% if is_granted('ROLE_PROJECT_CREATE') %}
                                <li><a href="#">Create</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
                <li class="users">
                    <a href="#" class="dropdown-toggle">Users</a>
                    <ul class="dropdown-menu">
                        {% for user in user_list() %}
                            <li><a href="{{ path('gitonomyfrontend_user_show', {'username': user.username}) }}">{{ user.fullname }}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="{{ path('gitonomyfrontend_adminuser_create') }}">Create</a></li>
                    </ul>
                </li>
                {% if is_granted('ROLE_USER_LIST') or is_granted('ROLE_PROJECT_LIST') or is_granted('ROLE_ROLE_LIST') %}
                    <li class="admin">
                        <a href="#" class="dropdown-toggle">Administration</a>
                        <ul class="dropdown-menu">
                            {% if is_granted('ROLE_USER_LIST') %}
                                <li><a href="{{ path('gitonomyfrontend_adminuser_list') }}">Users</a></li>
                            {% endif %}
                            {% if is_granted('ROLE_PROJECT_LIST') %}
                                <li><a href="{{ path('gitonomyfrontend_adminproject_list') }}">Projects</a></li>
                            {% endif %}
                            {% if is_granted(['ROLE_ROLE_LIST']) %}
                                <li><a href="{{ path('gitonomyfrontend_adminrole_list') }}">Roles</a></li>
                            {% endif %}
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <ul class="nav secondary-nav">
                <li class="lang">
                    <a href="#" class="dropdown-toggle">Lang</a>
                    <ul class="dropdown-menu">
                        {% for locale in gitonomy.locales %}
                            <li><a href="{{ path('gitonomyfrontend_main_setLocale', {'locale': locale}) }}">{{ locale|trans({}, 'locales') }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                    <li class="account">
                        <a href="#" class="dropdown-toggle">{{ app.user.username }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gitonomyfrontend_profile_index') }}">Configuration</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('gitonomyfrontend_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    {% if gitonomy.open_registration %}
                        <li><a href="{{ path('gitonomyfrontend_security_register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ path('gitonomyfrontend_security_login') }}">Login</a></li>
                {% endif %}
            </p>
        </div>
    </div>
</div>
