<div class="topbar" data-dropdown>
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ path('gitonomyfrontend_main_homepage') }}">{{ gitonomy.name }}</a>
            <ul class="nav">
                <li>
                    <a href="#" class="dropdown-toggle">Projects</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Project A</a></li>
                        <li><a href="#">Project B</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">My repositories</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Repository A</a></li>
                        <li><a href="#">Repository B</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">Users</a>
                    <ul class="dropdown-menu">
                        {% for user in user_list() %}
                            <li><a href="#">{{ user.fullname }}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="#">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">Administration</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Users</a></li>
                        <li><a href="#">Projects</a></li>
                        <li><a href="{{ path('gitonomyfrontend_adminrole_list') }}">Roles</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav secondary-nav">
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">{{ app.user.username }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gitonomyfrontend_profile_index') }}">Configuration</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('gitonomyfrontend_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    {% if gitonomy.open_registration%}
                        <li><a href="{{ path('gitonomyfrontend_user_register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ path('gitonomyfrontend_security_login') }}">Login</a></li>
                {% endif %}
            </p>
        </div>
    </div>
</div>
