<div class="topbar" data-dropdown>
    <div class="topbar-inner">
        <div class="container-fluid">
            <a class="brand" href="{{ path('gitonomyfrontend_main_homepage') }}">{{ gitonomy.name }}</a>
            <ul class="nav">
                <li>
                    <a href="#" class="dropdown-toggle">Projects</a>
                    <ul class="dropdown-menu">
                        {% for project in project_list() %}
                            <li><a href="{{ path('gitonomyfrontend_project_show', {'slug': project.slug }) }}">{{ project.name }}</a></li>
                        {% endfor %}
                        <li class="divider"></li>
                        <li><a href="#">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">My repositories</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Repository A</a></li>
                        <li><a href="#">Repository B</a></li>
                        <li class="divider"></li>
                        <li><a href="#">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">Users</a>
                    <ul class="dropdown-menu">
                        <li class="divider"></li>
                        <li><a href="{{ path('gitonomyfrontend_adminuser_create') }}">Create</a></li>
                    </ul>
                </li>
                <li>
                    <a href="#" class="dropdown-toggle">Administration</a>
                    <ul class="dropdown-menu">
                        {% if is_granted(['USER_CREATE', 'USER_UPDATE', 'USER_DELETE']) %}
                            <li><a href="{{ path('gitonomyfrontend_adminuser_list') }}">Users</a></li>
                        {% endif %}
                        {% if is_granted(['PROJECT_CREATE', 'PROJECT_UPDATE', 'PROJECT_DELETE']) %}
                            <li><a href="{{ path('gitonomyfrontend_adminproject_list') }}">Projects</a></li>
                        {% endif %}
                        {% if is_granted(['ROLE_CREATE', 'ROLE_UPDATE', 'ROLE_DELETE']) %}
                            <li><a href="{{ path('gitonomyfrontend_adminrole_list') }}">Roles</a></li>
                        {% endif %}
                    </ul>
                </li>
            </ul>
            <ul class="nav secondary-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle">Lang</a>
                    <ul class="dropdown-menu">
                        {% for locale, name in {
                            'fr_FR': 'Français',
                            'en_EN': 'English'
                        }%}
                            <li><a href="{{ path('gitonomyfrontend_main_setLocale', {'locale': locale}) }}">{{ name }}</a></li>
                        {% endfor %}
                    </ul>
                </li>
                {% if is_granted('ROLE_USER') %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle">{{ app.user.username }}</a>
                        <ul class="dropdown-menu">
                            <li><a href="{{ path('gitonomyfrontend_profile_index') }}">Configuration</a></li>
                            <li class="divider"></li>
                            <li><a href="{{ path('gitonomyfrontend_security_logout') }}">Logout</a></li>
                        </ul>
                    </li>
                {% else %}
                    {% if gitonomy.open_registration%}
                        <li><a href="{{ path('gitonomyfrontend_user_register') }}">Register</a></li>
                    {% endif %}
                    <li><a href="{{ path('gitonomyfrontend_security_login') }}">Login</a></li>
                {% endif %}
            </p>
        </div>
    </div>
</div>
